@import url('./FlipCardAnimated/styles.css');
@import url('./FlipCard/styles.css');
@import url('./FlipCardStatic/styles.css');

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.countdownTitle {
  margin-bottom: 20px;
}

.countdownTitle h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 45px;
}

.countdownFlipCards {
  display: flex;
  align-items: center;
  justify-content: center;
}
